<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (ticket) { %>
        <form class="ticket-edit-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="ticket-id">Ticket ID</label>
                    <input type="text" class="form-control" name="ticket_id" id="ticket-id" value="<%= ticket[0].ticketid %>" disabled>
                </div>
                <div class="form-group col-md-4">
                    <label for="ticket-createdatetime">Ticket created</label>
                    <input type="text" class="form-control" name="ticket_createdatetime" id="ticket-createdatetime" value="<%= ticket[0].ticket_creation_date %>" disabled>
                </div>
                <div class="form-group col-md-4">
                    <label for="ticket-status">Ticket Status</label>
                    <input type="text" class="form-control" name="ticket_status" id="ticket-status" value="<%= ticket[0].ticket_status %>" disabled>
                </div>
            </div>
            <div class="form-row">    
                <div class="form-group col-md-3">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last-name" value="<%= ticket[0].last_name %>" disabled>
                </div>
                <div class="form-group col-md-3">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first-name" value="<%= ticket[0].first_name %>" disabled>
                </div>
                <div class="form-group col-md-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" value="<%= ticket[0].email %>" disabled>
                </div>
                <div class="form-group col-md-3">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="phone" value="<%= ticket[0].phone %>" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="ticket-subject">Ticket Subject</label>
                    <input type="text" class="form-control" name="ticket_subject" id="ticket-subject" value="<%= ticket[0].ticket_subject %>" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="ticket-comments">Ticket Comments</label>
                    <input type="text" class="form-control" name="ticket_comments" id="ticket-comments" value="<%= ticket[0].ticket_comments %>" >
                </div>
            </div>
            <button type="submit" class="btn btn-success float-left">Update Ticket</button>
        </form>
    <% } else { %>
        <p class="text-center">Ticket Not Found.</p>
    <% } %>
</div>
</div>
</body>
</html>